/* PC */
@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }
    .show-on-mobile {
        display: none;
    }
}

/* tablet mobile */
@media screen and (max-width: 991px) {
    /* commont */
    .section-desc {
        font-size: 1.6rem;
    }
    .section-heading {
        font-size: 3.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.16; /* 116.667% */
        letter-spacing: -1.44px;
    }
    .rencent-client-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
        row-gap: 36px;
        margin-top: 40px;
    }
    .hero .row {
        flex-direction: column-reverse;
    }
    .hero {
        border-top: 1px solid #d6d3e2;
    }
    .header-logo {
        width: 37px;
        height: 44px;
    }
    .header-icon {
        width: 32px;
        height: 32px;
    }
    .hero-content_heading {
        margin-top: 0;
        font-size: 4.2rem;
        max-width: 260px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.19; /* 119.048% */
        letter-spacing: -1.68px;
    }
    .hero-content_desc {
        color: #51586a;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.62; /* 162.5% */
    }
    .hero-social {
        margin-top: 30px;
    }
    .hero-media {
        width: 259px;
        margin: 0 auto;
    }
    /* rrecent */
    .rencent-clients__content {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .recent-clients__heading::before {
        position: absolute;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
    }
    .recent-clients__heading {
        align-items: unset;
        font-size: 2.8rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.21; /* 121.429% */
        letter-spacing: -1.12px;
        width: 169px;
        display: block;
        margin: 0 auto;
    }
    /* special */
    .specialities-desc {
        width: 80%;
        margin-top: 20px;
    }
    .special-card {
        margin: 0 auto;
    }
    /* recent project */
    .recent-project {
        margin-top: 0;
    }
    .recent-project_top {
        flex-wrap: wrap;
        text-align: center;
    }
    .recent-project_top-heading {
        width: 100%;
        margin-bottom: 20px;
    }
    .project-item__heading {
        font-size: 2.4rem;
    }
    .project-item__desc {
        font-size: 1.4rem;
    }
    .project-item__media {
        width: 122px;
        height: 93px;
    }
    /* about me */
    .aboutme_desc,
    .testimonial_topcontent-desc,
    .quote-item__content,
    .gallery__desc,
    .cta_desc {
        width: 89%;
    }
    .about-me__inner {
        padding: 30px;
        margin-top: 30px;
    }
    .about-me_experience {
        column-gap: 12.8%;
    }
    .about-me_experience-number {
        font-size: 3rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.4; /* 140% */
        letter-spacing: 0.9px;
    }
    /* video */
    .video-thumb-img {
        height: 276px;
    }
    /* Quote */
    .quote-item__content {
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.66; /* 166.667% */
    }
    /* FAQ */
    .faq__heading {
        width: 81%;
    }
    /* gallery */
    .gallery_wrap {
        width: 100%;
    }
    /* CTA */
    .cta {
        width: 100%;
    }
    .cta_bg {
        object-fit: cover;
    }
    /* Footer */
    .footer_inner .header--warp {
        flex-direction: column;
    }
    .footer_inner .header-logo {
        width: 100px;
        height: 100px;
        position: relative;
        margin: 0 auto;
    }
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .show-on-mobile {
        display: none;
    }
    .footer_inner .header-logo {
        width: 100px;
        height: 100px;
        position: absolute;
        margin: 0 auto;
        top: 0;
        margin-bottom: 40px;
        display: block;
        margin: -35px 15px;
    }
    .logo {
        display: none;
    }
    .header {
        padding: 1rem;
    }
}

/* mobile */
@media screen and (max-width: 767px) {
    .hide-on-mobile {
        display: none;
    }
    .copyright {
        flex-direction: column-reverse;
        align-items: center;
    }
    .footer .header-emai {
        margin-top: 64px;
    }
    .copyright_text--border {
        border-top: 1px solid rgb(12 7 32 / 20%);
        padding-top: 20px;
        margin-top: 30px;
    }
    .footer {
        border-bottom: none;
    }
    .header {
        padding: 2rem;
    }
    /* mobile header */
    .mobile-header--warp .header-logo {
        position: absolute;
        left: 5rem;
    }
    .mobile-header--warp {
        display: flex;
        align-items: center;
        margin-left: auto;
    }
    .mobile-header--warp .header-emai {
        margin-left: auto;
    }
    .toggle-wrap {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: solid 1px #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;
    }
    #mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 80%; /* hoặc bất kỳ chiều rộng nào bạn muốn */
        height: 100%;
        background-color: white; /* Màu nền cho menu */
        z-index: 1000; /* Chắc chắn phải cao hơn z-index của overlay */
        display: none; /* Ban đầu không hiển thị */
        transition: all 0.3s; /* Tạo hiệu ứng chuyển động mượt mà */
        padding: 2rem;
    }

    #mobile-menu.active {
        display: block; /* Hiển thị menu khi active */
    }
    #overlay {
        position: fixed; /* Làm cho overlay bám sát khung nhìn, không di chuyển khi scroll */
        top: 0;
        left: 0;
        width: 100%; /* Chiều rộng bằng toàn bộ khung nhìn */
        height: 100%; /* Chiều cao bằng toàn bộ khung nhìn */
        background-color: rgba(
            0,
            0,
            0,
            0.5
        ); /* Màu nền đen với độ trong suốt */
        z-index: 999; /* Đảm bảo overlay nằm trên các thành phần khác */
        display: none; /* Ban đầu không hiển thị */
    }

    #mobile-menu.active + #overlay {
        display: block; /* Hiển thị overlay khi menu active */
    }
    .menu-item {
        margin-bottom: 1rem;
    }
}
/*  */
/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    .header {
        padding: 20px 4rem;
    }
    .rencent-client-list {
        grid-template-columns: repeat(3, 1fr);
    }
    .gallery_wrap,
    .special-card,
    .projec-item__content {
        width: 100%;
    }
}
