/* 1st */
*,
::before,
::after {
    box-sizing: border-box;
}
:root {
    /* --primary-color: #7264d6; */
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
}
/* common */
a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}
.inner {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 100px;
    margin-bottom: 30px;

    background: #ccc;

    font-size: 30px;
    font-weight: 600;
}
.logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.btn {
    width: 170px;
    height: 62px;
    background: #5d3bee;
    padding: 16px 37px;
    color: #fdfdfd;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.66; /* 166.667% */
    cursor: pointer;
}
.btn:hover {
    opacity: 0.9;
}
.section-heading {
    color: #080415;
    font-size: 5.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.17; /* 117.857% */
    letter-spacing: -2.24px;
}
.section-desc {
    color: #51586a;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
}
.center {
    text-align: center;
}
.bg_half {
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.5) 46%,
        #fbfaff 46%
    );
    position: relative;
}
.bg_half_decor_01,
.bg_half_decor_02 {
    position: absolute;
}
.bg_half_decor_01 {
    bottom: 0;
    left: 0;
}
.bg_half_decor_02 {
    bottom: 0;
    right: 0;
}
/* Header */

.header {
    width: 100%;
    /* margin-top: 20px; */
    padding: 20px 135px;
    position: sticky;
    top: 0;
    background: #fbfaff;
    z-index: 2;
}
.header--warp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header-emai {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.header-email-link {
    color: #080415;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.36; /* 136.364% */
    text-decoration-line: underline;
}
.header-icon {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid #5d3bee33;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 11px;
}
.header-icon-img {
    width: 100%;
}
.header-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu-list {
    display: flex;
    column-gap: 43px;
    align-items: center;
}
.menu-item__link {
    color: #51586a;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
}
/* hero */
.hero {
    padding-top: 44px;
    background: #fbfaff;
    position: relative;
}
.hero-media {
    position: relative;
}
.hero-media-img {
    width: 100%;
    object-fit: cover;
    z-index: 1;
    position: relative;
}
/* .hero-media::after {
    content: url(../img/hero_bg_01.png);
    position: absolute;
    left: -242px;
    top: -83px;
    height: 100%;
} */
.hero-decor-1 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 108%;
    object-fit: cover;
}
.hero-content {
    z-index: 1;
    position: relative;
}
.hero-content_heading {
    margin-top: 137px;
    color: #080415;
    font-size: 8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.95; /* 95% */
    letter-spacing: -3.2px;
}
.hero-content_desc {
    width: 370px;
    color: #51586a;
    font-family: "DM Sans";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
    margin-top: 20px;
}
.hero_cta {
    margin-top: 50px;
}
.hero_cta--link {
    color: #080415;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.66; /* 166.667% */
    text-decoration-line: underline;
}
.hero__btn {
    margin-right: 30px;
}
.hero-social {
    margin-top: 104px;
    display: flex;
    align-items: center;
}
.hero-social-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #0804151a;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    margin-left: 20px;
}
.hero-social-link:hover {
    background: rgba(108, 78, 240, 0.6);
}
.hero-social-icon {
    width: 100%;
}
.hero-social_cta {
    color: #51586a;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.87; /* 187.5% */
    margin-right: 15px;
}
.hero-decor-2 {
    position: absolute;
    right: 0;
    bottom: 0;
}
/* rencent client */
.rencent-clients {
    margin-top: 100px;
    padding-bottom: 100px;
}
.rencent-clients-item,
.rencent-clients_wrap {
    width: 173px;
    height: 36px;
    transition: 0.2s;
}
.rencent-clients-item:hover {
    scale: 1.1;
}
.rencent-client-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 36px;
}
.rencent-clients-logo {
    height: 100%;
    object-fit: cover;
}
.recent-clients__heading {
    color: #080415;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.19; /* 119.048% */
    letter-spacing: -1.68px;
    display: flex;
    align-items: center;
    position: relative;
}
.recent-clients__heading::before {
    content: "";
    width: 86px;
    height: 2px;
    background: #5d3bee;
    display: inline-block;
    position: relative;
    margin-bottom: 46px;
    margin-right: 13px;
}
.rencent-clients__content {
    width: 283px;
}
/* Specialities */
.specialities {
    margin-top: 33px;
}
.specialities-desc {
    width: 534px;
    display: inline-block;
    margin-bottom: 60px;
}
.special-card {
    width: 370px;
    background: #fbfaff;
    height: auto;
    padding: 33px 43px;
    cursor: pointer;
}
.special-card__wrap {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    border: 1px solid #0804150d;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px;
}
.special-card__wrap:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}
.special-card__icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.special-card__heading {
    color: #080415;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    letter-spacing: -1.28px;
    margin-top: 22px;
}
.special-card__desc {
    margin-top: 15px;
}
/* Rencent project */
.recent-project {
    margin-top: 140px;
    background: #5d3bee;
    padding: 86px 0;
}
.recent-project_top {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
    column-gap: 13%;
}
.recent-project_top-heading,
.recent-project_top-desc {
    color: #fff;
}
.recent-project_top-heading {
    width: 40%;
}
.recent-project_top-desc {
    opacity: 0.7;
    width: 370px;
}
.project-item {
    display: flex;
    background: #fbfaff;
    align-items: center;
    padding: 24px;
    justify-content: space-between;
    margin-bottom: 30px;
    position: relative;
}
.projec-item__content {
    width: 220px;
}
.project-item__media {
    width: 246px;
}
.project-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    position: relative;
}
.project-item__bg {
    position: absolute;
    top: 1px;
    right: 0;
    height: 100%;
}
.project-item__heading {
    color: #080415;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    letter-spacing: -1.28px;
}
.project-item__desc {
    color: #51586a;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.43; /* 143.75% */
    margin-top: 10px;
}
.project-item__link {
    color: #080415;
    font-family: "DM Sans";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.66; /* 166.667% */
    text-decoration-line: underline;
    margin-top: 20px;
    display: block;
}
.project-btn {
    color: #080415;
    background: #fff;
    margin: 0 auto;
    display: block;
    text-align: center;
    min-width: 178px;
    margin-top: 50px;
}
/* about me */

.about-me {
    margin-top: 70px;
    padding: 70px 0;
}
.aboutme_topcontent {
    text-align: center;
}
.aboutme_hello {
    color: #5d3bee;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    letter-spacing: -1.28px;
    margin-bottom: 10px;
}
.aboutme_desc {
    width: 570px;
    display: inline-block;
    margin-top: 15px;
}
.about-me_experience {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    /* column-gap: 17%; */
    justify-content: space-around;
}
.about-me_experience-number {
    color: #080415;
    font-size: 5.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.35; /* 135.714% */
    letter-spacing: 1.68px;
    text-decoration-line: underline;
}
.about-me_experience-title {
    color: #51586a;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
}
.about-me__inner {
    padding: 20px 95px;
    border-top: 1px solid #08041533;
    border-bottom: 1px solid #08041533;
    margin-top: 90px;
}
/* video */
.video_controls {
    position: relative;
}
.video-thumb-img {
    width: 100%;
    object-fit: cover;
}
.video-playbtn--wrap {
    width: 111px;
    height: 111px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 50%;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.video-playbtn {
    color: #5d3bee;
}
.video-intro__btn {
    color: #51586a;
    background: #fff;
    position: absolute;
    bottom: 10px;
    right: 10px;
    min-width: 170px;
    padding: 16px 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* testimonial */
.testimonial {
    text-align: center;
    margin-top: 150px;
}
.testimonial_topcontent-heading {
    margin-bottom: 20px;
}
.testimonial_topcontent-desc {
    width: 570px;
    display: block;
    padding-bottom: 60px;
    margin: 0 auto;
}
.quote-item__content {
    width: 679px;
    margin: 0 auto;
    color: #51586a;
    text-align: center;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
    margin-bottom: 36px;
}
.quote-item__author {
    display: inline-flex;
    align-items: center;
    margin: 0 auto;
}
.quote-item__wrapimg {
    width: 39.833px;
    height: 39.833px;
    border-radius: 50%;
    background: #f29764;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.quote-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 6.7px;
}
.quote-item__name {
    color: #080415;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.33; /* 133.333% */
    margin-left: 15px;
}
.quote-item_job {
    margin-top: 3px;
    color: #51586a;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.81; /* 181.25% */
}
.quote-dots {
    padding-top: 40px;
    display: inline-flex;
    margin: 0 auto;
    column-gap: 15px;
    align-items: center;
}
.quote-dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgb(8 4 21 / 20%);
    cursor: pointer;
    margin-bottom: 74px;
}
.quote-dot--active {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid #5d3bee;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quote-dot--active::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #5d3bee;
    display: block;
}
/* FAQ */
.faq {
    margin-top: 95px;
    padding-bottom: 20px;
}
.faq__heading {
    width: 575px;
    margin-bottom: 80px;
}
.fqa__item {
    border-bottom: 2px solid #08182f;
    padding-bottom: 31px;
}
.accordion {
    background-color: #fff;
    cursor: pointer;
    padding-top: 0;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    color: #080415;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 125% */
    letter-spacing: -1.28px;
}
.fqa__item:not(:first-child) {
    margin-top: 61px;
    display: block;
}

.accordion:after {
    content: "\002B";
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    border: 1px solid #0804151a;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: #51586a;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
}
/* .accordion::selection {
    color: #5d3bee;
} */
.active,
.accordion:hover {
    color: #5d3bee;
}
.fqa__item:hover {
    border-bottom: 2px solid #5d3bee;
}
.fqa__item:active,
.fqa__item.clicked {
    border-bottom: 2px solid #5d3bee;
}
/* gallery */
.gallery {
    padding: 70px 0;
}
.gallery__topcontent {
    text-align: center;
}
.gallery__desc {
    margin: 20px 0 30px 0;
    width: 528px;
    display: inline-block;
}
.gallery__link {
    color: #5d3bee;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    letter-spacing: -1.28px;
    text-decoration-line: underline;
    margin-bottom: 70px;
    display: block;
}
.gallery_wrap {
    width: 370px;
    height: 529px;
    overflow: hidden;
}

.gallery_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s;
    cursor: pointer;
}
.gallery_img:hover {
    scale: 1.1;
}
/* cta */
.cta {
    padding: 68px 0;
    text-align: center;
    background: #fbfaff;
    position: relative;
    width: calc(100% - 270px);
    margin: 0 auto;
}
.cta__icon-wrap {
    width: 90px;
    height: 90px;
    display: inline-block;
}
.cta_icon {
    width: 100%;
    height: 100%;
}
.cta_heading {
    margin: 20px 0;
}
.cta_desc {
    width: 570px;
    display: inline-block;
    margin-bottom: 82px;
}
.cta-btn {
    display: inline;
    width: 20%;
    max-width: 170px;
    position: relative;
    z-index: 1;
}
.cta_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Fotter */
.footer {
    width: calc(100% - 221px);
    margin: 0 auto;
    border-bottom: 1px solid rgb(12 7 32 / 20%);
}
.footer_inner {
    padding: 83px 49px 66px 49px;
}
.copyright {
    display: flex;
    justify-content: space-between;
    padding: 18px 0 30px 0;
}
.copyright_wrap {
    display: flex;
    column-gap: 23px;
}
.copyright_wrap .copyright_text:not(:first-child)::before {
    content: "";
    border-left: 1px solid #ccc;
    height: 14px;
    width: 1px;
    padding-left: 13px;
    display: inline-block;
}
.copyright_text {
    color: #525771;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
    opacity: 0.6;
}
